<div class="ui three column grid">
  <div class="five wide column"></div>
  <div class="six wide column">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: :true, class: "ui big form" }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
        <%= f.password_field :password, autocomplete: "off" %>
        <% if @minimum_password_length %>

          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="field">
        <%= f.label :picture %>
        <% if current_user.picture.url.present? %>
        <%= image_tag(current_user.picture.url) %>
        <%= f.label :remove_picture do %>
        <%= f.check_box :remove_picture %>
        <% end %>
        <% end %>
        <%= f.file_field :picture %>
        <%= f.hidden_field :picture_cache %>        
      </div>


      <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i>
        <%= f.password_field :current_password, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit "Update", class: "fluid ui big blue button" %>
      </div>
    <% end %>

    <div class="ui section divider"></div>

    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "mini ui right floated button" %>

    <%# link_to "Back", :back %>
  </div>
  <div class="five wide column"></div>
</div>
