<nav>
  <div class="ui secondary pointing red menu">

    <a href="<%= root_path %>"class="<%if current_page?(root_path) %>active <% end %>item">
      <h1>
        <i class="home icon"></i>
        H<span id="the-o">&#332;</span>M
      </h1>
    </a>

    <a class="item">
      <i class="search icon"></i>
      Find a Rental
    </a>

    <a href="<%= new_rental_path %>" class="<%if current_page?(new_rental_path) %>active <% end %>item">
      <i class="add circle icon"></i>
      List a Rental
    </a>

    <div class="right menu">
      <% if current_user %>


        <div class="ui <% if current_page?(user_path(current_user)) %> active <% end %>pointing dropdown link item">

          <i class="user icon"></i>
          <span class="text"><%= current_user.email %></span>
          <i class="dropdown icon"></i>

          <div class="menu">

            <a href="<%= user_path(current_user) %>" class="item">
              <i class="user icon"></i>
              Profile
            </a>

            <a href="<%= user_path(current_user) %>/Favorites" class="item">
              <i class="heart icon"></i>
              Favorites
            </a>

            <a href="<%= user_path(current_user) %>/rentals" class="item">
              <i class="home icon"></i>
              Listed Rentals
            </a>

            <a rel="nofollow" href="<%= destroy_user_session_path %>" data-method="delete" class="item">
              <i class="sign out icon"></i>
              LogOut
            </a>
          </div>
        </div>



      <% else %>
        <a class="ui item">LogIn <i class="sign in icon"></i></a>
        <a href="<%= new_user_registration_path %>" class="ui item">Register <i class="add user icon"></i></a>
      <% end %>
    </div>
  </div>
</nav>
